:root {
  --color: #ff5500;
  --blur: 12px;
  --spacing: 95px;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

img {
  height: 50%;
  background-color: var(--color);
  padding: var(--spacing);
  filter: blur(var(--blur));
}

.inner-span {
  color: var(--color);
}
